
<div class="row-fluid">

	<table class="table table-striped table-bordered table-condensed"
		id="usertable">

		<tbody>
			<tr class="list-users" th:each="broadcast : ${broadcast} ">
			<tr>Last Broadcast Message:
			</tr>
			<tr>
				<br>
				<audio controls>
					<source th:attr="src=${broadcast.voice.url}" type="audio/wav"></source>
					<p>Your browser does not support this audio format.</p>
				</audio>
				</br>

			</tr>
			<tr>
				<br>
				<button class="btn btn-success" id="broadcast" data-toggle="modal"
					data-title="Broadcast" data-target="#broadcast-modal"
					align="center">Broadcast</button>
			</tr>
			</br>


		</tbody>
	</table>

	<div class="modal fade" id="broadcast-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingUser">Broadcast</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<table>
						<tr>
							<td><b><i>Menu For Language:</i></b> <br> <label>
									<input type="checkbox" ng-model="checkboxModel.value1"
									value="4">Hindi
							</label> <label><input type="checkbox"
									ng-model="checkboxModel.value1" value="5">English </label> <label><input
									type="checkbox" ng-model="checkboxModel.value1" value="6">Marathi
							</label></td>

							<td><b><i>Response Type:</i></b> <br> <label><input
									type="checkbox" ng-model="checkboxModel.value1" value="1"
									name="order">SemiStructured(Order) </label> <label><input
									type="checkbox" ng-model="checkboxModel.value1" name="feedback"
									value="2" />Unstructured(Feedback)</label> <label><input
									type="checkbox" name="response" value="3"
									ng-model="checkboxModel.value1" />Structured(Response)</label></td>
						</tr>
						</tabel>
						</div>
						<tr>

							<td><br> When you want to broadcast the call</td>
						</tr>
						<tr>
							<td><input type="checkbox" class="tr" name="now" id="now"
								value="newCall" checked />Now</td>
							<td><input type="checkbox" class="tr" name="scheduled"
								id="scheduled" value="scheduled" onclick="scheduledTimes();" />Scheduled
								Times</td>
						</tr>
						<tr>
							<td><div id="scheduledTimes"></div></td>
						</tr>
						<td>How many BackUp Call do you want: <br> <br> <select
							name="backup_calls" id="backup_calls" onchange="dropDowns1();">
								<option value="0">0 backupcall</option>
								<option value="1">1 backupcall</option>
								<option value="2">2 backupcall</option>
								<option value="3">3 backupcall</option>
								<option value="4">4 backupcall</option>
								<option value="5">5 backupcall</option>
						</select>
							<div id="myDiv"></div>
						</td>
						<tr>
							<td><input type="hidden" name="filePresent" id="filePresent"
								value="" /> <input type="hidden" name="fileName" id="fileName"
								value="" /> <input type="hidden" name="group_id" id="group_id">
								<input type="hidden" name="tempflag" id="tempflag"
								value="mrequest" /> <input type="hidden" name="req_type"
								id="req_type" value="broadcast" /></td>
						<tr>
							<td><br>
								<button type="button" class="btn btn-success"
									id="place-broadcast-call">
									<i class="icon-white icon-ok"></i>Place Call
								</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>




	</div>


	<!-- /.modal-content -->
	<!-- /.modal-dialog -->