<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet">
<link th:href="@{/static/css/site.css}" rel="stylesheet"> 
<link th:href="@{/static/css/ruralivrs.css}" rel="stylesheet"> 
<title>Choose organization | RuralIVRS</title>
</head>
<body>
<div class="container">
   <div class = "header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <label class="organization">Rural Interactive Voice Response System</label>
        </div>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            

            <div class="span6">
                <div class="area">
                   <div class="well hero-unit">
                   
                   <p>This website helps you connect easily to your customers. Some of the outstanding features of our website include:</p>
                   <ul>
                   <li>Broadcasting through phone</li>
                   <li>Broadcasting through SMS</li>
                   <li>Offline Billing</li>
                   <li>Receiving orders through phone</li>
                   <li>App for Android users</li>
                   </ul>
                   <p><a class="btn btn-success btn-large" href="http://ruralivrs.cse.iitb.ac.in/AFC/Document.jsp#no-back-button">User Guide &raquo;</a></p>
                   </div>
                </div>
            </div>
            <div class="span6">
                <div class="area">
					THIS IS A TEMPORARY FILE!
                </div>
                
            </div>
        </div>
    </div>
</div>   

</body>
</html>