<div class="row-fluid">
  <div class="page-header">
  	<h1>
  		Generate Bill
  	</h1>
  </div>
  <div id="groupBills">
  	<!-- Code For Representing in a tabular format -->
  	<!-- <table class="table table-bordred table-striped">
  		<thead>
  			<th>
  				Group Name
  			</th>
  			<th>
  				Bill
  			</th>
  		</thead>
  		<tbody>
  		<tr th:each="group: ${groups}">
	  		<td th:text="${group.name}">
	  		</td>
	  		<td>
	  			<a class="btn btn-primary" target="_blank" th:href="'generateBillGroup/'+${group.groupId}">
					<i class="icon-white  icon-file"></i> View
				</a>
	  		</td>
  		</tr>
  		</tbody>
  	</table> -->
  	<div class="form-inline">
  		<select id="groupDropDownList" >
  		<option th:value="${group.groupId}" th:text="${group.name}" th:each="group:${groups}" selected="selected"></option>
  		</select>
  		&nbsp
  		&nbsp
  		&nbsp
  		<button class="btn btn-default" onClick="redirectForGenerateBill()"><i class="icon-white  icon-file"></i>View</button>
  	</div>
  </div>
  
</div>