<div ng-controller="OrderSummaryProductsController">
	<div class="row-fluid">
		<form class="simple-form">
			<h2>Order Summary(Product wise)</h2><p hidden id="orgAbbrevation" th:text="${orgAbbrevation}">text</p>
	    	</br></br></br>
	    	Product Name: 
	    	<select placeholder="Choose product" id="prod_name" ng-model="name">
	    		<option th:each="product : ${products}" th:value="${product.name}">
	    			<p th:text="${product.name}">text</p>
	    		</option>
	  		</select>
	  		From: <input type="date" id="fromDate" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  		To:<input type="date" id="toDate" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    	<input type="submit" id="submitProducts" value="Submit" />
	  	</form>
	  	<h2>{{name}}</h2>
	  	<table class="table table-striped table-bordered table-condensed" id="t01">
	    	<tr>
	    		<th>Unit Rate</th>
	    		<th>Quantity</th>
			</tr>
	  		<tr ng-repeat="x in orderSumProducts._embedded.orderItems">
	  			<td class="unitRate">{{x.unitRate}}</td>
	  			<td class="quantity">{{x.quantity}}</td>
	  		</tr>
	  		<tr>
	  			<td>
	  				Total 
	  			</td>
	  			<td id="totalProducts">
	  				0
	  			</td>
	  		</tr>
	  	</table>
	</div>  
</div>
