<div class="row-fluid">
  <div class="page-header">
    <h1>Settings <small>Edit</small></h1>
  </div>
</div>  
<ul class="nav nav-tabs top-tab-bar" id="interest_tabs">
    <!--top level tabs-->
  <li><a href="#profile-settings" data-toggle="tab">Profile</a></li>
  <li><a href="#system-settings" data-toggle="tab">System</a></li>
  <li><a href="#bill-layout-settings" data-toggle="tab">Bill Layout</a></li>
  <li><a href="#ivrs-menu-settings" data-toggle="tab">IVRS Menu</a></li>
</ul>
<div class="tab-content">
  <div id="profile-settings" class="tab-pane">
    <br>
    <br>
    <form class="form-horizontal">
      <fieldset>
	    <div class="control-group">
	      <label class="control-label" for="name">Name</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="name" />
		  </div>
	    </div>
		<div class="control-group">
		  <label class="control-label" for="email">E-mail</label>
		  <div class="controls">
			<input type="text" class="input-xlarge" id="email" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="new-password">New Password</label>
		  <div class="controls">
			<input type="password" class="input-xlarge" id="new-password" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="re-new-password">Re-type new password</label>
		  <div class="controls">
			<input type="password" class="input-xlarge" id="re-new-password" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="pnohe">Phone</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="phone" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="city">City</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="city" />
		  </div>
		</div>	
		<div class="form-actions">
		  <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		</div>					
	  </fieldset>
	</form>
  </div>
  <div id="system-settings" class="tab-pane">
    <!--system settings tab menu-->
    <div id="broadcast" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="brands_tabs">
			<li><a href="#welcome-message-settings" data-toggle="tab">Welcome Message</a></li>
			<li><a href="#outbound-call-settings" data-toggle="tab">Outbound Call</a></li>
			<li><a href="#inbound-call-settings" data-toggle="tab">Inbound Call</a></li>
			<li><a href="#voice-call-settings" data-toggle="tab">Voice Call</a></li>
			<li><a href="#dashboard-settings" data-toggle="tab">Dashboard</a></li>
		</ul>
		<!--system settings tab content-->
		<div class="tab-content">
			<div id="welcome-message-settings" class="tab-pane">
				<table>
					<tr>
						<td><b>Welcome Message&nbsp;(स्वागत संदेश) :</b></td>
					</tr>
					
					<tr>
					<td></td>
					<td><input type="file" name="welcome_message" id="welcome_message"></td>
					</tr>
					
					<tr>
					<td></td>
					<td><audio controls> <source src="http://ruralivrs.cse.iitb.ac.in/Downloads/AFC/audio-upload/Welcome_message2015-02-20-01:34:16.wav" type="audio/wav"></source></audio></td> 
					</tr>
					
					<tr>
					<td></td>
					<td><a href="http://ruralivrs.cse.iitb.ac.in/Downloads/AFC/audio-upload/Welcome_message2015-02-20-01:34:16.wav" download>Download&nbsp;(डाउनलोड)</a></td>
					</tr>
					
				</table>
			 <div class="form-actions">
				<input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
			</div>
		</div>
	    <div id="outbound-call-settings" class="tab-pane">
			 <div class="control-group">
		     <table>

					<tr>
						<b>OUTGOING CALL SETTINGS</b>
					</tr>
					<tr>
						<td>Language&nbsp;(भाषा):<br> <input type="checkbox"
							name="language" id="language" value="4"
						 />Hindi&nbsp;(हिन्दी)<br>
							<input type="checkbox" name="language" id="language" value="5"
							checked />Marathi&nbsp;(मराठी)<br>
							<input type="checkbox" name="language" id="language" value="6"
							 />English&nbsp;(अंग्रेजी)<br>

						</td>
						<td></td>
						<td>Response&nbsp;(प्रतिक्रिया):<br> <input type="checkbox"
							name="response1" value="1"
							checked='checked' />SemiStructured&nbsp;(Order/आदेश)<br>
							<input type="checkbox" name="response1" value="2"
							 />Unstructured&nbsp;(Feedback/प्रतिपुष्टि)<br>
							<input type="checkbox" name="response1" value="3"
							 />Structured&nbsp;(Response/प्रतिक्रिया)<br>
						</td>
					</tr>
			  </table>
			  </div>
		     <div class="form-actions">
		     <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		     </div>
		</div>
			<div id="inbound-call-settings" class="tab-pane">
			    <div class="control-group">
		        <table>
			        <tr>
				    <td><b>INCOMING CALL SETTINGS</b></td>
					</tr>
					<tr>
						<td>Language Incoming&nbsp;(भाषा):<br> <input type="checkbox"
							name="languagein" id="language" value="4"
							 />Hindi&nbsp;(हिन्दी)<br>
							<input type="checkbox" name="languagein" id="language" value="5"
							checked='checked' />Marathi&nbsp;(मराठी)<br>
							<input type="checkbox" name="languagein" id="language" value="6"
							 />English&nbsp;(अंग्रेजी)<br>
							<input type="hidden" name="filePresent" id="filePresent" value="">
						</td>
						<td></td>
						<td>Response Incoming&nbsp;(प्रतिक्रिया):<br> <input
							type="checkbox" name="responsein" value="1"
							checked='checked' />SemiStructured&nbsp;(Order/आदेश)<br>
							<input type="checkbox" name="responsein" value="2"
							 />Unstructured&nbsp;(Feedback/प्रतिपुष्टि)<br>
							<input type="checkbox" name="responsein" value="3"
							 />Structured&nbsp;(Response/प्रतिक्रिया)<br>
						</td>
					</tr>
				</table>
			    </div>
			    <div class="form-actions">
		  <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		</div>
			</div>
			<div id="voice-call-settings" class="tab-pane">
			   <h3>Voice Call Options :</h3>
				<table>
					<tr>
						<td>Order Cancellation&nbsp;(आदेश रद्द)</td>
						<td><select id='ordercancel' class="table-input-1"
							name='ordercancel'>

								<option value='0'
									selected>Disable(बंद
									करना)</option>
								<option value='1'
									>Enable(चालू
									करना)</option>

						</select></td>
					</tr>
				

					<tr>
						<td>Broadcast Enabler&nbsp;(प्रसारण)</td>
						
						<td><select id='broadcast' class="table-input-1"
							name='broadcast' onchange="disableDropdown();">
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
						</select></td>
					</tr>


					<div id="Latest_broadcast_div" >

						<tr id="Latest_broadcastdiv">
							<td>Latest broadcast enabler:</td>
							<td><select name="Latest_broadcast" class="table-input-1 table-width "
								id="Latest_broadcast" >
									<option value="0"
										
										>Disable</option>
									<option value="1"
										selected
										>Enable</option>

							</select></td>
						</tr>
					</div>
					<div id="Previous_broadcast_div">

						<tr id="Previous_broadcastdiv">
							<td>Previous broadcast enabler:</td>
							<td><select name="Previous_broadcast" class="table-input-1 table-width table-display"
								id="Previous_broadcast" >
									<option value="0"
										selected>Disable</option>
									<option value="1"
										>Enable</option>

							</select></td>
						</tr>
					</div>
					
					
					<div id="Repeat_broadcast_div">

						<tr id="Repeat_broadcastdiv">
							<td>Repeat broadcast enabler:</td>
							<td><select name="repeat_broadcast" class="table-input-1 table-width"
								id="repeat_broadcast">
									<option value="0"
										selected>Disable</option>
									<option value="1"
										>Enable</option>

							</select></td>
							
						</tr>
					</div>
					
				<br/>
					
			    </table>
			    <div class="form-actions">
		        <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		        </div>
			</div>
			<div id="dashboard-settings" class="tab-pane">
			<h3>Voice Response Message(Dashboard) Options :</h3>
						<br>
						<table>		
					
					<tr>
						<td>Feedback Enabler &nbsp; (प्रतिपुष्टि)</td>
						<td><select id='feedback' class="table-input-1 table-width"
							name='feedback' >
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
						</select></td>
					</tr>
					
					
					<tr>
						<td>Response Enabler &nbsp; (प्रतिक्रिया)</td>
						<td><select id='response' class="table-input-1 table-width"
							name='response'>
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
						</select></td>
					</tr>
					
					
					<tr>
						<td>Bill Enabler &nbsp; (बिल)</td>
						<td><select id='bill' class="table-input-1 table-width"
							name='bill' onchange="disableBilldown();">
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
						</select></td>
					</tr>
					
					
					<tr id="enableSave">
						<td>Save Enabler &nbsp; (संग्रहित)</td>
						<td><select id='save' class="table-input-1 table-width"
							name='save' >
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
										
						<tr>
						<td>Reject Enabler &nbsp; (अस्वीकृत)</td>
						<td><select id='reject' class="table-input-1 table-width"
							name='reject' >
								<option value='0'
									>Disable(बंद
									करना)</option>
								<option value='1'
									selected>Enable(चालू
									करना)</option>
						</select></td>
					</tr>
					
					
					<br>
					
						<td>Text Message Response &nbsp; (प्रतिक्रिया)</td>
						<td><select id='text_msg' class="table-input-1 table-width"
							name='text_msg'>
								<option value='0'
									selected>Disable(बंद
									करना)</option>
								<option value='1'
									>Enable(चालू
									करना)</option>
						</select></td>
					</tr>		</select></td>
					</tr>
						
					<tr>
					<td><br></td>
					</tr>
				</table>
			<div class="form-actions">
		    <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		    </div>
		</div>
	</div>
	</div>					
  </div>
</div>